<nav
    class="navbar fixed right-0 left-0 top-0 lg:top-[44.5px] px-5 lg:px-24 transition-all duration-500 ease shadow-lg shadow-gray-200/20 bg-white border-gray-200 dark:bg-neutral-800 z-40 dark:shadow-neutral-900"
    id="navbar">
    <div class="mx-auto container-fluid">
        <div class="flex flex-wrap items-center justify-end mx-auto">
            <a href="/" class="flex items-center">
                <img
                    src="{{ url_for('main.static', filename='images/logo.png')}}"
                    alt=""
                    class="logo-dark block"
                    style="width: 55px; position: absolute; left: 2rem;" />
            </a>
            <div class="flex items-center lg:order-2 py-5">
                <div>
                    {% if 'user' in request.cookies %}
                    <div class="relative dropdown ltr:mr-4 rtl:ml-4">
                        <button
                            type="button"
                            class="flex items-center px-4 py-0 dropdown-toggle"
                            id="page-header-user-dropdown"
                            data-bs-toggle="dropdown"
                            aria-haspopup="true"
                            aria-expanded="true">
                            {% if current_user.profile != '' %}
                            <img
                                class="w-8 h-8 rounded-full ltr:xl:mr-2 rtl:xl:ml-2"
                                src="{{current_user.profile_pic}}"
                                alt="Header Avatar" />
                            {% else %}
                            <img
                                class="w-8 h-8 rounded-full ltr:xl:mr-2 rtl:xl:ml-2"
                                src="{{ url_for('profile.static', filename='img/avatar.jpeg')}}"
                                alt="Header Avatar" />
                            {% endif %}
                            <span
                                class="hidden fw-medium xl:block dark:text-gray-50"
                                >{{current_user.username}}</span
                            >
                        </button>
                        <ul
                            class="absolute top-auto z-50 hidden w-48 p-3 list-none bg-white border rounded shadow-lg dropdown-menu border-gray-500/20 xl:ltr:-left-3 ltr:-left-32 rtl:-right-3 dark:bg-neutral-800"
                            id="profile/log"
                            aria-labelledby="navNotifications">
                            {% if request.cookies.account_type == 'company' %}
                            <li
                                class="p-2 dropdown-item group/dropdown dark:text-gray-300">
                                <a
                                    class="text-15 font-medium text-gray-800 group-data-[theme-color=violet]:group-hover/dropdown:text-violet-500 group-data-[theme-color=sky]:group-hover/dropdown:text-sky-500 group-data-[theme-color=red]:group-hover/dropdown:text-red-500 group-data-[theme-color=green]:group-hover/dropdown:text-green-500 group-data-[theme-color=pink]:group-hover/dropdown:text-pink-500 group-data-[theme-color=blue]:group-hover/dropdown:text-blue-500 group-hover:pl-1.5 transition-all duration-300 ease-in dark:text-gray-50"
                                    href="/profile/company"
                                    >Dashboard</a>
                            </li>
                            {% else %}
                            <li
                                class="p-2 dropdown-item group/dropdown dark:text-gray-300">
                                <a
                                    class="text-15 font-medium text-gray-800 group-data-[theme-color=violet]:group-hover/dropdown:text-violet-500 group-data-[theme-color=sky]:group-hover/dropdown:text-sky-500 group-data-[theme-color=red]:group-hover/dropdown:text-red-500 group-data-[theme-color=green]:group-hover/dropdown:text-green-500 group-data-[theme-color=pink]:group-hover/dropdown:text-pink-500 group-data-[theme-color=blue]:group-hover/dropdown:text-blue-500 group-hover:pl-1.5 transition-all duration-300 ease-in dark:text-gray-50"
                                    href="bookmark-jobs.html"
                                    >Bookmarks Jobs</a
                                >
                            </li>
                            <li
                                class="p-2 dropdown-item group/dropdown dark:text-gray-300">
                                <a
                                    class="text-15 font-medium text-gray-800 group-data-[theme-color=violet]:group-hover/dropdown:text-violet-500 group-data-[theme-color=sky]:group-hover/dropdown:text-sky-500 group-data-[theme-color=red]:group-hover/dropdown:text-red-500 group-data-[theme-color=green]:group-hover/dropdown:text-green-500 group-data-[theme-color=pink]:group-hover/dropdown:text-pink-500 group-data-[theme-color=blue]:group-hover/dropdown:text-blue-500 group-hover:pl-1.5 transition-all duration-300 ease-in dark:text-gray-50"
                                    href="/profile"
                                    >My Profile</a
                                >
                            </li>
                            {% endif %}
                            <li
                                class="p-2 dropdown-item group/dropdown dark:text-gray-300">
                                <a
                                    class="text-15 font-medium text-gray-800 group-data-[theme-color=violet]:group-hover/dropdown:text-violet-500 group-data-[theme-color=sky]:group-hover/dropdown:text-sky-500 group-data-[theme-color=red]:group-hover/dropdown:text-red-500 group-data-[theme-color=green]:group-hover/dropdown:text-green-500 group-data-[theme-color=pink]:group-hover/dropdown:text-pink-500 group-data-[theme-color=blue]:group-hover/dropdown:text-blue-500 group-hover:pl-1.5 transition-all duration-300 ease-in dark:text-gray-50"
                                    href="/forms/logout"
                                    >Logout</a
                                >
                            </li>
                        </ul>
                    </div>
                    {% else %}
                    <div class="relative dropdown ltr:mr-4 rtl:ml-4">
                        <button
                            type="button"
                            class="flex items-center px-4 py-0 dropdown-toggle text-gray-800"
                            id="page-header-user-dropdown"
                            data-bs-toggle="dropdown"
                            aria-haspopup="true"
                            aria-expanded="true">
                            Sign in as a
                        </button>
                        <ul
                            class="absolute top-auto z-50 hidden w-48 p-3 list-none bg-white border rounded shadow-lg dropdown-menu border-gray-500/20 xl:ltr:-left-3 ltr:-left-32 rtl:-right-3 dark:bg-neutral-800"
                            id="profile/log"
                            aria-labelledby="navNotifications">
                            <li
                                class="p-2 dropdown-item group/dropdown dark:text-gray-300">
                                <a
                                    class="text-15 font-medium text-gray-800 group-data-[theme-color=violet]:group-hover/dropdown:text-violet-500 group-data-[theme-color=sky]:group-hover/dropdown:text-sky-500 group-data-[theme-color=red]:group-hover/dropdown:text-red-500 group-data-[theme-color=green]:group-hover/dropdown:text-green-500 group-data-[theme-color=pink]:group-hover/dropdown:text-pink-500 group-data-[theme-color=blue]:group-hover/dropdown:text-blue-500 group-hover:pl-1.5 transition-all duration-300 ease-in dark:text-gray-50"
                                    href="/forms"
                                    >Job Seaker</a
                                >
                            </li>
                            <li
                                class="p-2 dropdown-item group/dropdown dark:text-gray-300">
                                <a
                                    class="text-15 font-medium text-gray-800 group-data-[theme-color=violet]:group-hover/dropdown:text-violet-500 group-data-[theme-color=sky]:group-hover/dropdown:text-sky-500 group-data-[theme-color=red]:group-hover/dropdown:text-red-500 group-data-[theme-color=green]:group-hover/dropdown:text-green-500 group-data-[theme-color=pink]:group-hover/dropdown:text-pink-500 group-data-[theme-color=blue]:group-hover/dropdown:text-blue-500 group-hover:pl-1.5 transition-all duration-300 ease-in dark:text-gray-50"
                                    href="/forms/signincompany"
                                    >Company</a
                                >
                            </li>
                        </ul>
                    </div>
                    {% endif %}
                </div>
            </div>

            <button data-collapse-toggle="navbar-collapse" type="button" class="inline-flex items-center p-2 text-sm text-gray-500 rounded-lg navbar-toggler group lg:hidden hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-gray-100 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600" aria-controls="navbar-sticky" aria-expanded="false">
                <span class="sr-only">Open main menu</span>
                <svg class="w-6 h-6" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z" clip-rule="evenodd"></path></svg>
            </button>

            <div
                id="navbar-collapse"
                class="navbar-res items-center justify-between w-full text-sm lg:flex lg:w-auto lg:order-1 group-focus:[.navbar-toggler]:block hidden">
                <ul
                    class="flex flex-col items-start mt-5 mb-10 font-medium lg:mt-0 lg:mb-0 lg:items-center lg:flex-row"
                    id="navigation-menu">
                    <li>
                        <a
                            class="block w-full px-4 py-2 text-13 font-medium text-gray-700 duration-300 bg-transparent whitespace-nowrap group-data-[theme-color=violet]:hover:text-violet-500 group-data-[theme-color=sky]:hover:text-sky-500 group-data-[theme-color=red]:hover:text-red-500 group-data-[theme-color=green]:hover:text-green-500 group-data-[theme-color=pink]:hover:text-pink-500 group-data-[theme-color=blue]:hover:text-blue-500 uppercase group-data-[mode=dark]:text-gray-50"
                            href="/"
                            >Home</a
                        >
                    </li>
                    <li>
                        <a
                            class="block w-full px-4 py-2 text-13 font-medium text-gray-700 duration-300 bg-transparent whitespace-nowrap group-data-[theme-color=violet]:hover:text-violet-500 group-data-[theme-color=sky]:hover:text-sky-500 group-data-[theme-color=red]:hover:text-red-500 group-data-[theme-color=green]:hover:text-green-500 group-data-[theme-color=pink]:hover:text-pink-500 group-data-[theme-color=blue]:hover:text-blue-500 uppercase group-data-[mode=dark]:text-gray-50"
                            href="/aboutus"
                            >About Us</a
                        >
                    </li>
                    <li>
                        <a
                            class="block w-full px-4 py-2 text-13 font-medium text-gray-700 duration-300 bg-transparent whitespace-nowrap group-data-[theme-color=violet]:hover:text-violet-500 group-data-[theme-color=sky]:hover:text-sky-500 group-data-[theme-color=red]:hover:text-red-500 group-data-[theme-color=green]:hover:text-green-500 group-data-[theme-color=pink]:hover:text-pink-500 group-data-[theme-color=blue]:hover:text-blue-500 uppercase group-data-[mode=dark]:text-gray-50"
                            href="/companies"
                            >Companies</a
                        >
                    </li>
                    <li>
                        <a
                            class="block w-full px-4 py-2 text-13 font-medium text-gray-700 duration-300 bg-transparent whitespace-nowrap group-data-[theme-color=violet]:hover:text-violet-500 group-data-[theme-color=sky]:hover:text-sky-500 group-data-[theme-color=red]:hover:text-red-500 group-data-[theme-color=green]:hover:text-green-500 group-data-[theme-color=pink]:hover:text-pink-500 group-data-[theme-color=blue]:hover:text-blue-500 uppercase group-data-[mode=dark]:text-gray-50"
                            href="/jobs"
                            >Jobs</a
                        >
                    </li>
                    <li>
                        <a
                            class="block w-full px-4 py-2 text-13 font-medium text-gray-700 duration-300 bg-transparent whitespace-nowrap group-data-[theme-color=violet]:hover:text-violet-500 group-data-[theme-color=sky]:hover:text-sky-500 group-data-[theme-color=red]:hover:text-red-500 group-data-[theme-color=green]:hover:text-green-500 group-data-[theme-color=pink]:hover:text-pink-500 group-data-[theme-color=blue]:hover:text-blue-500 uppercase group-data-[mode=dark]:text-gray-50"
                            href="/contacts"
                            >Contact</a
                        >
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>
