{% extends 'base.html' %}
{% block title %}careerpilot - user profile{% endblock %}
{% block content%}
<div class="fixed z-40 flex flex-col gap-3 ltr:left-0 rtl:right-0 top-[330px]">
    <!-- light-dark mode button -->
    <a href="javascript: void(0);" id="ltr-rtl"
        class="z-40 px-3 py-3 font-medium text-white transition-all duration-300 ease-linear group-data-[theme-color=violet]:bg-violet-500 group-data-[theme-color=sky]:bg-sky-500 group-data-[theme-color=red]:bg-red-500 group-data-[theme-color=green]:bg-green-500 group-data-[theme-color=pink]:bg-pink-500 group-data-[theme-color=blue]:bg-blue-500 text-14 hover:bg-violet-700 ltr:rounded-r rtl:rounded-l"
        onclick="changeMode(event)">
        <span class="ltr:hidden">LTR</span>
        <span class="rtl:hidden">RTL</span>
    </a>

</div>

<div class="fixed transition-all duration-300 ease-linear top-[27.5rem] switcher" id="style-switcher">
    <div class="w-48 p-4 bg-white shadow-md">
        <div>
            <h3 class="mb-2 font-semibold text-gray-900 text-16">Select your color</h3>
            <ul class="flex gap-3 ">
                <li>
                    <a class="h-10 w-10 bg-[#815DF2] block rounded-full" data-color="violet"
                        href="javascript: void(0);"></a>
                </li>
                <li>
                    <a class="h-10 w-10 bg-[#69cdf1] block rounded-full" data-color="sky"
                        href="javascript: void(0);"></a>
                </li>
                <li>
                    <a class="h-10 w-10 bg-[#dd4948] block rounded-full" data-color="red"
                        href="javascript: void(0);"></a>
                </li>
            </ul>
            <ul class="flex gap-3 mt-4">
                <li>
                    <a class="h-10 w-10 bg-[#38c284] block rounded-full" data-color="green"
                        href="javascript: void(0);"></a>
                </li>
                <li>
                    <a class="h-10 w-10 bg-[#e35490] block rounded-full" data-color="pink"
                        href="javascript: void(0);"></a>
                </li>
                <li>
                    <a class="h-10 w-10 bg-[#5276f4] block rounded-full" data-color="blue"
                        href="javascript: void(0);"></a>
                </li>
            </ul>
        </div>

        <div class="mt-5">
            <h3 class="mb-2 font-semibold text-gray-900 text-16">Light/dark Layout</h3>
            <div class="flex justify-center mt-2">
                <!-- light-dark mode button -->
                <a href="javascript: void(0);" id="mode"
                    class="z-40 px-6 py-2 font-normal text-white transition-all duration-300 ease-linear rounded text-14 bg-zinc-800"
                    onclick="changeMode(event)">
                    <i class="hidden text-xl uil uil-brightness dark:text-white dark:inline-block"></i>
                    <i class="inline-block text-xl uil uil-moon dark:text-zinc-800 dark:hidden"></i>
                </a>
            </div>
        </div>
    </div>
</div>
<!-- light-dark mode button -->
<a href="javascript: void(0);" onclick="toggleSwitcher()"
    class="fixed z-40 flex flex-col gap-3 px-4 py-3 font-normal text-white group-data-[theme-color=violet]:bg-violet-500 group-data-[theme-color=sky]:bg-sky-500 group-data-[theme-color=red]:bg-red-500 group-data-[theme-color=green]:bg-green-500 group-data-[theme-color=pink]:bg-pink-500 group-data-[theme-color=blue]:bg-blue-500 top-96 text-14 ltr:rounded-r rtl:rounded-l">
    <i class="text-xl mdi mdi-cog mdi-spin"></i>
</a>

<div class="main-content">
    <div class="page-content">

        <section
            class="pt-28 lg:pt-44 pb-28 group-data-[theme-color=violet]:bg-violet-500 group-data-[theme-color=sky]:bg-sky-500 group-data-[theme-color=red]:bg-red-500 group-data-[theme-color=green]:bg-green-500 group-data-[theme-color=pink]:bg-pink-500 group-data-[theme-color=blue]:bg-blue-500 dark:bg-neutral-900 bg-[url('../images/home/page-title.png')] bg-center bg-cover relative">
            <div class="container mx-auto">
                <div class="grid">
                    <div class="col-span-12">
                        <div class="text-center text-white">
                            <h3 class="mb-4 text-[26px]">{{user.username}}</h3>
                        </div>
                    </div>
                </div>
            </div>
            <img src="{{ url_for('main.static', filename='images/about/shape.png')}}" alt=""
                class="absolute block bg-cover -bottom-0 dark:hidden">
            <img src="{{ url_for('main.static', filename='images/about/shape-dark.png')}}" alt=""
                class="absolute hidden bg-cover -bottom-0 dark:block">
        </section>
        <section class="py-20">
            <div class="container mx-auto">
                <div class="grid grid-cols-12 gap-y-10 lg:gap-10">
                    <div class="col-span-12 lg:col-span-4">
                        <div class="border rounded border-gray-100/50 dark:border-neutral-600">
                            <div class="p-5 border-b border-gray-100/50 dark:border-neutral-600">
                                <div class="text-center">
                                    {% if user.profile_pic == "" %}
                                        <img src="{{ url_for('profile.static', filename='img/avatar.jpeg')}}" alt=""
                                            class="w-20 h-20 p-1 mx-auto border-2 rounded-full border-gray-200/20">
                                    {% else %}
                                    <img src="{{ url_for('profile.static', filename='uploads/'+user.profile_pic)}}" alt=""
                                            class="w-20 h-20 p-1 mx-auto border-2 rounded-full border-gray-200/20">
                                    {% endif %}
                                    <h6 class="mt-4 mb-0 text-lg text-gray-900 dark:text-gray-50 uppercase">{{user.fullnames}}</h6>
                                    <p class="mb-4 text-gray-500 dark:text-gray-300 lowercase">@{{ user.username }}</p>
                                    <ul class="flex flex-wrap justify-center gap-2 mb-0">
                                        <li
                                            class="w-10 h-10 text-lg leading-10 transition-all duration-300 ease-in-out rounded bg-violet-500/20 text-violet-500 hover:bg-violet-500 hover:text-white">
                                            <a href="javascript:void(0)" class="social-link rounded-3 "><i
                                                    class="uil uil-facebook-f"></i></a>
                                        </li>
                                        <li
                                            class="w-10 h-10 text-lg leading-10 transition-all duration-300 ease-in-out rounded bg-sky-500/20 text-sky-500 hover:bg-sky-500 hover:text-white">
                                            <a href="javascript:void(0)" class="social-link rounded-3 btn-soft-info"><i
                                                    class="uil uil-twitter-alt"></i></a>
                                        </li>
                                        <li
                                            class="w-10 h-10 text-lg leading-10 text-green-500 transition-all duration-300 ease-in-out rounded bg-green-500/20 hover:bg-green-500 hover:text-white">
                                            <a href="javascript:void(0)"
                                                class="social-link rounded-3 btn-soft-success"><i
                                                    class="uil uil-whatsapp"></i></a>
                                        </li>
                                        <li
                                            class="w-10 h-10 text-lg leading-10 text-red-500 transition-all duration-300 ease-in-out rounded bg-red-500/20 hover:bg-red-500 hover:text-white">
                                            <a href="javascript:void(0)"
                                                class="social-link rounded-3 btn-soft-danger"><i
                                                    class="uil uil-phone-alt"></i></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="p-5 pt-0">
                                <h6 class="mb-3 font-semibold text-gray-900 text-17 dark:text-gray-50">Contacts</h6>
                                <ul class="mb-0">
                                    <li class="pb-3">
                                        <div class="flex">
                                            <label
                                                class="w-32 font-medium text-gray-900 dark:text-gray-50">Email</label>
                                            <div>
                                                <p class="mb-0 text-gray-500 text-break dark:text-gray-300">
                                                {{user.email}}
                                                </p>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="pb-3">
                                        <div class="flex">
                                            <label class="w-32 font-medium text-gray-900 dark:text-gray-50">Phone Number</label>
                                            <div>
                                                <p class="mb-0 text-gray-500 dark:text-gray-300">{{user.phone_number}}</p>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="pb-3">
                                        <div class="flex">
                                            <label
                                                class="w-32 font-medium text-gray-900 dark:text-gray-50">Location</label>
                                            <div>
                                                <p class="mb-0 text-gray-500 dark:text-gray-300">{{user.current_location}}</p>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-span-12 lg:col-span-8">
                        <div
                            class="border rounded border-gray-100/50 dark:border-neutral-600 nav-tabs bottom-border-tab">
                            <div class="px-6 py-0 border-b border-gray-100/50 dark:border-neutral-600">
                                <ul class="items-center text-sm font-medium text-center text-gray-700 nav md:flex">
                                    <li class="active" role="presentation">
                                        <button class="inline-block w-full py-4 px-[18px] dark:text-gray-50 active"
                                            data-tw-toggle="tab" type="button" data-tw-target="overview-tab">
                                            Overview
                                        </button>
                                    </li>
                                    <li class="nav-item" role="presentation">
                                        <button class="inline-block w-full py-4 px-[18px] dark:text-gray-50"
                                            data-tw-toggle="tab" type="button" data-tw-target="settings-tab">
                                            Settings
                                        </button>
                                    </li>
                                </ul>
                            </div>
                            <div class="p-6 tab-content">
                                <div class="block w-full tab-pane" id="overview-tab">
                                    <div class="mt-2 space-y-8">
                                        <div>
                                            <h5 class="text-lg font-bold text-gray-900 dark:text-gray-50">About</h5>
                                            <p class="mt-4 text-gray-500 dark:text-gray-300">
                                                {{user.about}}
                                            </p>
                                        </div>
                                    </div>
                                    <div class="mt-6">
                                        <h6 class="text-lg font-bold text-gray-900 dark:text-gray-50">Education</h6>
                                        {% for edu in user.education %}
                                        <div class="relative flex mt-5">
                                            <div class="w-10 h-10 text-xl uppercase leading-10 text-center rounded-full shrink-0 bg-violet-500/20 text-violet-500">
                                                {{edu.program[0]}}
                                            </div>
                                            <div class="ml-4">
                                                <h6 class="mb-1 uppercase text-gray-900 text-16 dark:text-gray-50">
                                                    {{edu.program}}
                                                </h6>
                                                <p class="mb-2 capitalize text-gray-500 dark:text-gray-300">
                                                    {{edu.school}} - ({{edu.duration}})
                                                </p>
                                                <p class="text-gray-500 dark:text-gray-300">
                                                    {{edu.about}}
                                                </p>
                                            </div>
                                        </div>
                                        {% endfor %}
                                    </div>
                                    <div class="mt-6">
                                        <h6 class="text-lg font-bold text-gray-900 dark:text-gray-50">Experiences</h6>
                                        {% for exc in user.experience %}
                                        <div class="relative flex mt-5">
                                            <div class="w-10 h-10 text-xl uppercase leading-10 text-center rounded-full shrink-0 bg-violet-500/20 text-violet-500">
                                                {{exc.title[0]}}
                                            </div>
                                            <div class="ml-4">
                                                <h6 class="mb-1 uppercase text-gray-900 text-16 dark:text-gray-50">
                                                    {{exc.title}}
                                                </h6>
                                                <p class="mb-2 capitalize text-gray-500 dark:text-gray-300">
                                                    {{exc.institution}} - ({{exc.duration}})
                                                </p>
                                                <p class="text-gray-500 dark:text-gray-300">
                                                    {{exc.about}}
                                                </p>
                                            </div>
                                        </div>
                                        {% endfor %}
                                    </div>
                                    <div class="mt-6">
                                        <h6 class="text-lg font-bold text-gray-900 dark:text-gray-50">Skills</h6>
                                        <div class="flex flex-wrap gap-3 mt-3">
                                            {% for skill in user.skills %}
                                            <span
                                                class="mt-2 text-13 px-2 py-0.5 bg-violet-500/20 text-violet-500 rounded font-medium">
                                                {{skill}}
                                            </span>
                                            {% endfor %}
                                        </div>
                                    </div>
                                    <div class="mt-6">
                                        <h6 class="text-lg font-bold text-gray-900 dark:text-gray-50">Spoken languages
                                        </h6>
                                        <div class="flex flex-wrap gap-3 mt-3">
                                            {% for lang in user.languages %}
                                            <span
                                                    class="mt-2 text-13 px-2 py-0.5 bg-red-500/20 text-red-500 rounded font-medium">{{lang}}</span>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                                <div class="hidden w-full tab-pane" id="settings-tab">
                                    <div class="pt-8 space-x-8">
                                        <form method="post" action="/forms/update-user" enctype="multipart/form-data">
                                            <div>
                                                <h5 class="mb-3 text-gray-900 fs-17 fw-semibold dark:text-gray-50">My Account</h5>
                                                <div class="text-center">
                                                    <div class="relative mb-4">
                                                        {% if user.profile_pic == "" %}
                                                        <img src="{{ url_for('profile.static', filename='img/avatar.jpeg')}}"
                                                            class="w-40 h-40 p-1 mx-auto border-2 rounded-full border-gray-100/50 dark:border-neutral-600"
                                                            id="profile-img" alt="{{user.username}}">
                                                        {%else%}
                                                        <img src="{{ url_for('profile.static', filename='uploads/'+user.profile_pic)}}"
                                                            class="w-40 h-40 p-1 mx-auto border-2 rounded-full border-gray-100/50 dark:border-neutral-600"
                                                            id="profile-img" alt="{{user.username}}">
                                                        {% endif %}
                                                        <div
                                                            class="absolute w-8 h-8 leading-8 text-center rounded-full shadow-md bottom-2 right-[42%] z-40 bg-gray-50 dark:bg-neutral-700 dark:text-white">
                                                            <input id="profile-img-file-input" type="file" name="profile"
                                                                class="hidden">
                                                            <label for="profile-img-file-input" class="">
                                                                <i class="uil uil-edit"></i>
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="mt-5">
                                                    <div class="grid grid-cols-12 gap-5">
                                                        <div class="col-span-12 lg:col-span-6">
                                                            <div class="mb-3">
                                                                <label for="userName"
                                                                    class="text-sm text-gray-900 dark:text-gray-50">Username</label>
                                                                <input type="text"
                                                                    class="w-full mt-1 text-gray-500 border rounded border-gray-100/50 text-13 dark:bg-transparent dark:border-neutral-600"
                                                                    id="userName" name="username" value="{{ user.username }}">
                                                            </div>
                                                        </div>
                                                        <div class="col-span-12 lg:col-span-6">
                                                            <div class="mb-3">
                                                                <label for="fullName"
                                                                    class="text-sm text-gray-900 dark:text-gray-50">Fullnames</label>
                                                                <input type="text"
                                                                    class="w-full mt-1 text-gray-500 border rounded border-gray-100/50 text-13 dark:bg-transparent dark:border-neutral-600"
                                                                    id="fullName" name="fullname" value="{{ user.fullnames }}">
                                                            </div>
                                                        </div>
                                                        <div class="col-span-12 lg:col-span-6">
                                                            <div class="mb-3">
                                                                <label for="phone"
                                                                    class="text-sm text-gray-900 dark:text-gray-50">Phone Number</label>
                                                                <input type="text"
                                                                    class="w-full mt-1 text-gray-500 border rounded border-gray-100/50 text-13 dark:bg-transparent dark:border-neutral-600"
                                                                    id="phone" name="phone_number" value="{{ user.phone_number }}">
                                                            </div>
                                                        </div>
                                                        <div class="col-span-12 lg:col-span-6">
                                                            <div class="mb-3">
                                                                <label for="email"
                                                                    class="text-sm text-gray-900 dark:text-gray-50">Email</label>
                                                                <input type="text"
                                                                    class="w-full mt-1 text-gray-500 border rounded border-gray-100/50 text-13 dark:bg-transparent dark:border-neutral-600"
                                                                    id="email" name="email" value="{{ user.email }}">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="mt-4">
                                                <h5 class="mb-3 font-semibold text-gray-900 text-17 dark:text-gray-50">
                                                    Profile</h5>
                                                <div class="grid grid-cols-12 gap-5">
                                                    <div class="col-span-12">
                                                        <div class="mb-3">
                                                            <label for="exampleFormControlTextarea1"
                                                                class="form-label dark:text-gray-300">Introduce
                                                                Yourself</label>
                                                            <textarea
                                                                class="w-full mt-1 text-sm rounded border-gray-100/50 dark:bg-transparent dark:border-neutral-600 dark:text-gray-300" rows="5" name="about" id="about">{{ user.about }}</textarea>
                                                        </div>
                                                    </div>
                                                    <div class="col-span-12 lg:col-span-6">
                                                        <div class="mb-3">
                                                            <label for="languages"
                                                                class="text-sm text-gray-900 dark:text-gray-50">Languages</label>
                                                            <input type="text"
                                                                class="w-full mt-1 text-gray-500 border rounded border-gray-100/50 text-13 dark:bg-transparent dark:border-neutral-600"
                                                                id="languages" name="languages" value="{% for lang in user.languages %}{{ lang }}{% if not loop.last %}, {% endif %}{% endfor %}">
                                                        </div>
                                                    </div>
                                                    <div class="col-span-12 lg:col-span-6">
                                                        <div class="mb-3">
                                                            <label for="location"
                                                                class="text-sm text-gray-900 dark:text-gray-50">Location</label>
                                                            <input type="text"
                                                                class="w-full mt-1 text-gray-500 border rounded border-gray-100/50 text-13 dark:bg-transparent dark:border-neutral-600"
                                                                id="location" name="current_location" value="{{ user.current_location }}">
                                                        </div>
                                                    </div>
                                                    <div class="col-span-12 lg:col-span-6">
                                                        <div class="mb-3">
                                                            <label for="skills"
                                                                class="text-sm text-gray-900 dark:text-gray-50">Skills</label>
                                                            <input type="text"
                                                                class="w-full mt-1 text-gray-500 border rounded border-gray-100/50 text-13 dark:bg-transparent dark:border-neutral-600"
                                                                id="skills" name="skills" value="{% for skill in user.skills %}{{ skill }}{% if not loop.last %}, {% endif %}{% endfor %}">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="mt-4">
                                                <h5 class="mb-3 font-semibold text-gray-900 text-17 dark:text-gray-50">Education</h5>
                                            </div>
                                            <div class="mt-4">
                                                <h5 class="mb-3 font-semibold text-gray-900 text-17 dark:text-gray-50">Experience</h5>
                                            </div>
                                            <div class="mt-4">
                                                <h5 class="mb-3 font-semibold text-gray-900 text-17 dark:text-gray-50">
                                                    Social Media</h5>
                                                <div class="grid grid-cols-12 gap-5">
                                                    <div class="col-span-12 lg:col-span-6">
                                                        <div class="mb-3">
                                                            <label for="facebook"
                                                                class="text-sm text-gray-900 dark:text-gray-50">Facebook</label>
                                                            <input type="text"
                                                                class="w-full mt-1 text-gray-500 border rounded border-gray-100/50 text-13 dark:bg-transparent dark:border-neutral-600"
                                                                id="facebook" name="fb" placeholder="https://www.facebook.com">
                                                        </div>
                                                    </div>
                                                    <div class="col-span-12 lg:col-span-6">
                                                        <div class="mb-3">
                                                            <label for="twitter"
                                                                class="text-sm text-gray-900 dark:text-gray-50">Twitter</label>
                                                            <input type="text"
                                                                class="w-full mt-1 text-gray-500 border rounded border-gray-100/50 text-13 dark:bg-transparent dark:border-neutral-600"
                                                                id="twitter" name="xplatform" placeholder="https://www.twitter.com">
                                                        </div>
                                                    </div>
                                                    <div class="col-span-12 lg:col-span-6">
                                                        <div class="mb-3">
                                                            <label for="linkedin"
                                                                class="text-sm text-gray-900 dark:text-gray-50">Linkedin</label>
                                                            <input type="text"
                                                                class="w-full mt-1 text-gray-500 border rounded border-gray-100/50 text-13 dark:bg-transparent dark:border-neutral-600"
                                                                id="linkedin" name="linkedin" placeholder="https://www.linkedin.com">
                                                        </div>
                                                    </div>
                                                    <div class="col-span-12 lg:col-span-6">
                                                        <div class="mb-3">
                                                            <label for="whatsapp"
                                                                class="text-sm text-gray-900 dark:text-gray-50">Whatsapp</label>
                                                            <input type="text"
                                                                class="w-full mt-1 text-gray-500 border rounded border-gray-100/50 text-13 dark:bg-transparent dark:border-neutral-600"
                                                                id="whatsapp" name="whatsapp" placeholder="0711111111">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="mt-8 text-right">
                                                <button type="submit"
                                                    class="text-white btn group-data-[theme-color=violet]:bg-violet-500 group-data-[theme-color=sky]:bg-sky-500 group-data-[theme-color=red]:bg-red-500 group-data-[theme-color=green]:bg-green-500 group-data-[theme-color=pink]:bg-pink-500 group-data-[theme-color=blue]:bg-blue-500 border-transparent focus:ring group-data-[theme-color=violet]:focus:ring-violet-500/20 group-data-[theme-color=sky]:focus:ring-sky-500/20 group-data-[theme-color=red]:focus:ring-red-500/20 group-data-[theme-color=green]:focus:ring-green-500/20 group-data-[theme-color=pink]:focus:ring-pink-500/20 group-data-[theme-color=blue]:focus:ring-blue-500/20">Update</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
<script src="{{ url_for('profile.static', filename='js/update.js')}}"></script>
{% endblock %}
